.quickLinks {
  container-type: inline-size;
  position: relative;

  h2 {
    font-size: var(--font-size-4);
    line-height: 1.4;
    padding-bottom: var(--spacing-4);
    font-weight: var(--font-weight-black);
    color: var(--color-primary);
  }

  .listWrap {
    padding-block: var(--spacing-5);
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .list {
    max-height: 7rem;
    width: 170%;
  }

  a {
    display: inline-block;
    color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    padding: 0.3rem 1rem;
    border-radius: 3rem;
    margin: 0.25rem;
    white-space: nowrap;
    text-decoration: none;
    height: min-content;
    transition: all ease-in-out 800ms;

    &:hover {
      // color: var(--color-light);
      border-color: var(--color-light);
      // background: var(--color-secondary);
      box-shadow: 0 0 3rem 0 var(--color-secondary);
    }
  }

  @container (min-width: 768px) {
    .listWrap {
      height: auto;
      overflow: visible;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 0.7rem;
      max-height: none;
      width: 100%;
      justify-content: flex-end;
    }

    a {
      padding: 0.5rem 1.2rem;
      margin: 0;
    }

    .inner {
      display: grid;
      grid-template-columns: 2fr 5fr;
      align-items: center;
      gap: var(--spacing-2);
    }
  }
}
