.heroVideo {
  container-type: inline-size;
  background: var(--color-light);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 0;
  grid-template-areas:
    "top"
    "bottom";


  .image {
    grid-area: top;
    aspect-ratio: 3/4;
    overflow: hidden;
    width: 100vw;
    position: relative;

    img {
      width: 100%;
    }

    &__mask {
      position: absolute;
      inset: 0 0 0 0;
      background: hsla(0, 0, 0, 0.2);
    }

    @container (min-width: 768px) {
      display: none;
    }
  }

  .video {
    display: none;

    @container (min-width: 768px) {
      grid-area: top;

      display: block;
      scale: 1;
      width: 100vw;
      max-width: 1600px;
      aspect-ratio: 16/9;
      margin: 0 auto;

      position: relative;
      margin-top: -3.2rem; // hide youtube avatar
      background: var(--color-light);

      iframe {
        aspect-ratio: 16/9;
        border: none;
      }

      &__mask {
        position: absolute;
        inset: 0 0 0 0;
        background: hsla(0, 0, 0, 0.3);
      }
    }

  }

  .topSection {
    grid-area: top;
    position: relative;
    z-index: 1;

    width: 100%;
    display: flex;
    align-items: center;


    .content {
      height: 100%;
      color: var(--color-light);
      text-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);

      h1 {
        em {
          font-family: var(--family-serif);
          font-weight: var(--font-weight-light);
          white-space: nowrap;
        }
      }

      h2 {
        font-size: var(--font-size-5);
        font-weight: var(--font-weight-normal);
        line-height: 1.4;
        margin-top: var(--spacing-2);
        margin-bottom: var(--spacing-4);
      }

    }

    @container (min-width: 768px) {}
  }


  .bottomSection {
    grid-area: bottom;

    .content {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 2.5rem;
      transform: translateY(-50%);
    }

    .locationTitle {
      display: flex;
      align-items: flex-end;
      font-family: var(--family-serif);
      font-size: var(--font-size-5);
      font-weight: var(--font-weight-bold);
      color: var(--color-light);
      margin-bottom: var(--spacing-2);
    }

    .locationLinks {
      display: flex;
      border-radius: 0.3rem;
      overflow: hidden;
    }

    a {
      width: 100%;
      min-height: 8rem;
      padding: var(--spacing-3);
      background: var(--color-primary);
      color: var(--color-light);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-6);
      transition: all linear 300ms;
      background-repeat: no-repeat;
      background-size: 1em;
      background-position: 88% center;

      &:last-child {
        box-shadow: -2rem 1px 0px -1.85rem var(--color-light-trans);
      }

      &:hover {
        background-image: url("../../../public/arrow-white.svg");
        background-position: 90% center;
      }

      i {
        display: block;
        width: 1em;
        height: 1em;
        background: url("../../../public/location.svg") no-repeat;
        background-size: contain;
        padding-right: 1.5rem;
      }
    }

    @container (min-width: 768px) {

      .content {
        transform: translateY(-50%);
        grid-template-columns: 1fr 2fr;
        gap: var(--spacing-4);
        padding-top: var(--spacing-3);
      }

      .locationTitle {
        justify-content: flex-end;
        color: var(--color-dark);
      }

      a {
        padding: var(--spacing-4);
      }
    }

  }

}