.heroHome {
  position: relative;
  color: var(--color-light);
  background: var(--color-secondary);

  h1 {
    font-style: italic;
    em {
      font-family: var(--family-serif);
      font-weight: var(--font-weight-light);
      white-space: nowrap;
    }
  }

  h2 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-normal);
    line-height: 1.4;
    padding-bottom: var(--spacing-4);
  }

  //  custom ver of global/grid-wrap
  .gridWrap {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1164px) {
      max-width: var(--grid-width);
      padding-inline: 0;
    }
  }

  .topSection {
    min-height: 24rem;

    .headline {
      position: absolute;
      top: 2rem;
      left: 1rem;
    }

    .image {
      display: flex;
      justify-content: flex-end;
    }
  }

  .bottomSection {
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-5);
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .group1 {
      max-width: 40rem;
    }

    .ctaList {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (min-width: 1164px) {
    .topSection {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .headline {
        padding-top: var(--spacing-5);
        position: static;
        max-width: 500px;
      }
    }

    .bottomSection {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 45%;
      max-width: 500px;
      justify-content: flex-start;
    }

    .ctaList {
      flex-direction: row-reverse;
    }
  }
}
